[Unit]
Description=accel-ppp
After=network.target
Requires=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/accel-ppp
ExecStart=/usr/local/sbin/accel-pppd -p /var/run/accel-pppd.pid $OPTIONS
StandardOutput=null
PIDFile=/var/run/accel-pppd.pid
Restart=always

[Install]
WantedBy=multi-user.target
Alias=accel-ppp.service

