[Unit]
Description=redis-connector
After=network.target
Requires=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/redis-connector
ExecStart=/opt/bng-utils/dpdk-ip-pipeline-cli.py $OPTIONS

[Install]
WantedBy=multi-user.target
