[Unit]
Description=redis-connector
After=network.target redis-server.service
Requires=network.target redis-server.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/redis-connector
ExecStart=/opt/bng-utils/dpdk-ip-pipeline-cli.py $OPTIONS

[Install]
WantedBy=multi-user.target
